*.xml
*.xml
*.pyc
.idea/misc.xml
.idea/neurodetection_pkg.iml
.idea/workspace.xml
neurodetection/__pycache__/classify_objects.cpython-312.pyc
neurodetection/__pycache__/detect_objects.cpython-312.pyc
neurodetection/__pycache__/detections_processing.cpython-312.pyc
neurodetection/__pycache__/detectNeurons.cpython-312.pyc
neurodetection/__pycache__/plot_output.cpython-312.pyc
neurodetection/__pycache__/process_image.cpython-312.pyc
*.pyc
neurodetection/__pycache__/setup_utils.cpython-312.pyc
neurodetection/__pycache__/process_image.cpython-312.pyc
neurodetection/__pycache__/plot_output.cpython-312.pyc
neurodetection/__pycache__/load_image.cpython-312.pyc
neurodetection/__pycache__/detectNeurons.cpython-312.pyc
neurodetection/__pycache__/detections_processing.cpython-312.pyc
neurodetection/__pycache__/detect_objects.cpython-312.pyc
neurodetection/__pycache__/classify_objects.cpython-312.pyc
neurodetection/__pycache__/__init__.cpython-312.pyc
.idea/workspace.xml
*.xml
*.pyc
/.idea
